<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do Administrador</title>
</head>
<body>
    <header>
    <h1>Essa será a página do Administrador. Ele poderá editar, excluir e acresentar palavras novas.</h1>
    </header>
    <main>
    <!-- Funções temporárias para fins de teste -->
        <a href="{{ url_for('glossario') }}">Glossário</a>
        <a href="">Cadastro de palavra</a>
    <!-- Funções temporárias para fins de teste -->
    </main>
    <footer>

    </footer>
</body>
</html>