<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles_glossario.css">
</head>
<body>
    <title><h1>Dicionário de Libras</h1></title>
    
    <header>       
        <div class="header-content">
            <img src="logo.png" alt="Senac" class="logo">
            <h1>Glossário de Libras</h1>
            <div class="search-box">
                <input type="text" placeholder="Pesquise por...">
                <button>🔍</button>
            </div>
        </div>
        
        <main>
            <h2>Expressões</h2>
            
            <table>
                <thead>
                    <tr>
                    <th>Expressõe</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr class="gray">
                    <td><a href="#">Bom dia!</a></td>
                    <td>uma saudação formal, usada para cumprimentar alguém no início do dia, desde as primeiras horas da manhã até, aproximadamente, o meio-dia.</td>                
                </tr>
                <tr>
                    <td><a href="#">Prazer em te conhecer!</a></td>
                    <td>é uma expressão utilizada para demonstrar satisfação em conhecer uma pessoa pela primeira vez.</td>                  
                </tr>
                <tr class="gray">
                    <td><a href="#">Me chamo...</a></td>
                    <td>indica o nome da pessoa. Pode ser usada para introduzir-se a alguém ou para se identificar em um contexto específico.</td>                  
                </tr>
                <tr>
                    <td><a href="#">Com licença </a></td>
                    <td>é uma expressão portuguesa que significa "com permissão" ou "por favor".</td>                   
                </tr>
                <tr class="gray">
                    <td><a href="#">Bem Vindo ao Senac!</a></td>
                    <td>é uma saudação de acolhimento direcionada a alguém que está chegando ao Senac (Serviço Nacional de Aprendizagem Comercial), uma instituição brasileira de educação profissional.</td>                  
                </tr>
                <tr>
                    <td><a href="#">Obrigado(a)!</a></td>
                    <td>é a forma de expressar gratidão.</td>                  
                </tr>
                <tr class="gray">
                    <td><a href="#">Me desculpa</a></td>
                    <td>é uma expressão portuguesa que significa pedir perdão ou expressar arrependimento por algo que foi feito, dito ou causado. Pode ser usada em situações formais ou informais, e geralmente visa reparar uma ofensa ou um erro. </td>                
                </tr>
                <tr>
                    <td><a href="#">Boa noite!</a></td>
                    <td>é uma expressão de saudação utilizada para desejar um bom descanso e um sono reparador antes de dormir.</td>                  
                </tr>
                <tr class="gray">
                    <td><a href="#">Boa tarde</a></td>
                    <td>é uma expressão portuguesa usada para cumprimentar ou se despedir de alguém durante a tarde.</td>                  
                </tr>
                <tr>
                    <td><a href="#">Estou indo trabalhar </a></td>
                    <td>é uma expressão que significa que a pessoa está a dirigir-se para o seu local de trabalho.</td>                   
                </tr>
                <tr class="gray">
                    <td><a href="#">Está chovendo</a></td>
                    <td> o tempo está parcialmente nublado com chuva isolada durante a madrugada, e nos demais períodos com poucas nuvens a sem nuvens.</td>                
                </tr>
                <tr>
                    <td><a href="#">Está muito calor!</a></td>
                    <td> é uma percepção individual, mas geralmente indica que a temperatura ambiente está acima do que é considerado confortável ou normal para a maioria das pessoas.</td>                  
                </tr>
                <tr class="gray">
                    <td><a href="#">Está muito frio</a></td>
                    <td> refere-se a uma situação em que a temperatura do ambiente é consideravelmente baixa, causando a sensação de frio para quem está exposto a ela.</td>                
                </tr>
                <tr>
                    <td><a href="#">Não gostei</a></td>
                    <td> indica desaprovação ou desagrado em relação a algo, alguém ou alguma situação.</td>                  
                </tr>
                <tr class="gray">
                    <td><a href="#">Eu amei te conhecer</a></td>
                    <td>é uma frase que expressa um sentimento de grande satisfação, alegria e apreço por ter conhecido alguém.</td>                
                </tr>
                <tr>
                    <td><a href="#">Voçê é legal</a></td>
                    <td> uma avaliação positiva da sua descrição pessoal ou uma pergunta sobre como você se descreve. </td>                  
                </tr>
                <tr class="gray">
                    <td><a href="#">Muito estranho</a></td>
                    <td>indica algo incomum, fora do comum ou que causa espanto ou admiração por ser novo ou desconhecido. </td>                
                </tr>
                <tr>
                    <td><a href="#">A Deus...</a></td>
                    <td> Pode ser uma expressão de despedida, com um tom religioso, ou pode ser uma reflexão filosófica ou teológica sobre a relação entre o ser humano e a divindade.</td>                  
                </tr>
                <tr class="gray">
                    <td><a href="#">boa viagem</a></td>
                    <td>é uma expressão utilizada para desejar uma jornada segura e agradável a alguém que está a viajar.</td>                
                </tr>
                <tr>
                    <td><a href="#">Exausto</a></td>
                    <td>algo ou alguém que está completamente esgotado, cansado ou fatigado, geralmente devido a um esforço intenso ou prolongado.</td>                  
                </tr>
            
            </tbody>
        </table>
    </main>
    
</header>
</body>
</html>
